body {
    background-color: #e7faf8;
}

h1 {
    background-color: #37D4CC;
    margin: 30px;
    padding: 30px;
    font-family: monospace;
    font-size: 50px;
    letter-spacing: 7px;
    word-spacing: 15px;
}


.image-menu {
    position: relative;
    width: 100%;
    height: 100%;
}

.text-menu {
    position: absolute;
    bottom: 10%;
    left: 0;
    color: white;
    font: bold 38px/38px Helvetica, Sans-Serif;
    letter-spacing: 2px;
    padding: 0 0 10% 10%;
}

.text-menu a:hover {
    background-color: #37D4CC;
    font-size: 45px;
    font-weight: bold;
    }

.text-menu a { width: 310px;
    text-decoration:none;
    text-align:center;
    color:#fbfbfb;
    background-color: #0d3b6600;
    padding:5px 5px;
}

.interlineado {
    line-height: 1.2em;
}

p {
    margin: 20px;
    padding: 20px;
    width: 800px;
    font-family: avenir;
    font-size: 20px;
    text-indent: 8px;
}

.carouselimage {
  display: block !important;
  width: 100% !important;
}

section {
    padding: 20px;
    margin: 20px;
}

i {
    font-size: 50px;
    letter-spacing: 20px;
    word-spacing: 25px;
}